.swipeItem {
  position: relative;
  overflow: hidden;
  width: 100%;
  outline: 1px solid black;
}

.swipeItem-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.swipeList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  height: 482px;
  overflow: auto;
}

.swipeList-addButton {
  font-size: 30px;
  text-align: center;
  width: 350px;
  height: 65px;
  padding: auto;
  background-color: white;
  border: none;
  outline: 1px solid black;
}
